body{
  background-color: whitesmoke;
}

h1{
  color:darkorange;
  text-align: center;
  text-shadow: 0.5px 1px 4px orange;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

h2{
  color:darkorange;
}

a{
  color: darkorange;
}