body{
  background-color: whitesmoke;
}

h1{
  color:darkorange;
  text-align: center;
  text-shadow: 0.5px 1px 4px orange;
}

img{
  width: 500px;
  height: 500px;
}

div{
  display:inline-block;
  width:50%;
}

h2{
  color:darkorange;
}

a{
  color: darkorange;
}